{% extends "layout.html" %}

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
</head>


{% block body %}
Aligns Protein Clustal Outputs and exports an excel file
<br>
<!-- Creates form to put clustal data in -->
<form action='/execute-protein' method="post">

    <!-- Big text area -->
    <textarea autocomplete="off" autofocus name="alignment_input" placeholder="Insert Clustal Output" type="text"
        style="width: 1200px;height:600px;" wrap="soft" enctype="multipart/form-data"></textarea>

    <br><br>

    <!-- Alignment numbers -->
    <input autocomplete="off" autofocus name="number_input" placeholder="Number of Alignments" type="text">

    <br><br>

    <!-- Wrap or single? -->
    Wrap or single-line alignment?
    <br>
    <input type="radio" id="single line" name="wrapornot" value="output_single" checked>
    <label for="single line">Single Line</label><br>
    <input type="radio" id="wrap" name="wrapornot" value="output_wrap">
    <label for="wrap">Wrap</label><br>
    <br>

    <!-- Advanced Settings area -->
    <div style="background: #f9f9ff;
            padding: 10px; 
            border: 1px solid lightgray; 
            width:600px;">
        Advanced Settings
        <br>
        <textarea autocomplete="off" name="match_dictionary" placeholder="Insert the soft matching you want. For example:
DENQ
KRH" type="text" style="width: 200px;height:100px;" wrap="soft" enctype="multipart/form-data"></textarea>
    
</div>
    <br>
    <!-- Submit button -->
    <input type="submit" value="Run Tool">

</form>

{% endblock %}