{% extends "layout.html" %}

{% block body %}


    <! –– Creates form to put in the data with ––>
    <form action='/execute-protein' method="post">
        <textarea autocomplete="off" autofocus name = "alignment_input" placeholder = "Insert Clustal Output" type="text" style="width: 1200px;height:600px;" wrap="soft" enctype="multipart/form-data"></textarea>

        <br> <br>

        <input autocomplete="off" autofocus name = "number_input" placeholder = "Number of Alignments" type="text">

        <br> <br>

        Wrap or single-line alignment?
        <br>

        <input type="radio" id="single line" name="wrapornot" value="output_single">
        <label for="single line">Single Line</label><br>
        <input type="radio" id="wrap" name="wrapornot" value="output_wrap">
        <label for="wrap">Wrap</label><br>

        <br> <br>

        <input type= "submit" value="Run Tool">
    </form>

{% endblock %}