{% extends "layout.html" %}

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
</head>


{% block body %}
Aligns Nucleic-Acid Clustal Outputs and exports an excel file
<br>
<!-- Creates form to put clustal data in -->
<form action='/execute-nucleic' method="post">

    <!-- Big text area -->
    <textarea autocomplete="off" autofocus name="alignment_input" placeholder="Insert Clustal Output" type="text"
        style="width: 1200px;height:600px;" wrap="soft" enctype="multipart/form-data"></textarea>

    <br><br>

    <br>
    <!-- Submit button -->
    <input type="submit" value="Run Tool">

</form>

{% endblock %}